[Unit]
Description = inotifyv2change
After=network.target
After=network-online.target
Wants=network-online.target
[Service]
ExecStart =/usr/bin/nohup /var/local/v2master/inotifyconf.sh &
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target