[Unit]
Description = inotifyv2change
After=network.target
Wants=network.target
[Service]
ExecStart = /var/local/v2master/inotifyconf.sh
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target