[Unit]
Description=v2master Service
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/bin/nohup /usr/bin/python /var/local/v2master/v2-ui.py &
Restart = always

[Install]
WantedBy=multi-user.target